RewriteEngine On

# Evita redirigir si el archivo o directorio existe
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Redirige todo lo demás a public/index.php
RewriteRule ^(.*)$ index.php [QSA,L]
