/* Página de estilos de Checkout */

body{
    height: 100vh;
    background: linear-gradient(180deg,rgba(28, 28, 30, 1) 50%, rgba(166, 166, 166, 1) 100% ) !important;
}

.cuerpo{
    margin-top: 1%;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-evenly;
}

.metodo_pago{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;

    width: 50%;
}

.metodo_pago *{
    margin: 2%;
}

.metodo_pago div{
    display: flex;
    align-items: center;

    transition: 0.1s;
    border: 3px solid var(--color-secundario);
    border-radius: 10px;
}

/* .metodo_pago div:hover{
    border: 3px solid var(--color-tarjeta-secundario);
    border-radius: 10px;

    transition: 0.1s;
} */


.metodo_pago div img{
    width: 50%;
    background-color: white;
    border-radius: 10px;
    padding: 5%;
}

.resumen_compra{
    width: 50%;
}

.resumen_compra div div{    
    width: 75%;
    padding: 4%;

    margin: 10% 0;

}

.resumen_compra div div:nth-child(1){
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    width: 75%;
    padding: 4%;

    background-color: var(--color-tarjeta);
    border-radius: 20px;

}

.resumen_compra div div:nth-child(1) p{
    margin: 0;
}

.precios{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--color-tarjeta-secundario);

    border-radius: 20px;
}

.precios p{
    color: var(--color-texto);
}

.precios p:nth-of-type(2n){
    text-align: end; 
}

#paypal-buttons{
    width: 100%;
    grid-column: 1 / 3;
    justify-self: center;

    margin: 0;
    padding: 0;

    color: var(--color-texto)
}

@media screen and (max-width: 426px){
    .cuerpo{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .metodo_pago{
        width: 100%;
    }

    .resumen_compra{
        width: 100%;
    }
}