/* Pagina Css de ConseguirPremium */

body{
    justify-content: unset;
}

/* Listas de ventajas */
ul{
    list-style: none;
}

li{
    font-size: 200%;
    color: var(--color-texto);
}

/* Imagen TDG Premium */

.premiumImg{
    display: flex;
    align-items: center;
    justify-content: center;
}

.premiumImg img{
    width: 8%;
    border-radius: 20px;
}

/* Boton conseguir Premium */

.btn-premium.boton-perso{
    padding: 15px;
    font-size: 150%;
}