/* CSS de la Vista de un Juego */

body{
    background: linear-gradient(180deg,rgba(28, 28, 30, 1) 50%, rgba(166, 166, 166, 1) 100%) !important;
}

/* Caracteristicas comunes de la página */

.icono_ajustable{
    font-size: 200%;
}

.btn_redondo{
    border-radius: 25px;

    border: none;
    cursor: pointer;

    padding: 10px;

    background-color: var(--color-tarjeta-secundario);
}

/* Parte de arriba de la página */

.top_juego{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-bottom: 5%;
}

.top_juego h1{
    margin: 3%;
    text-align: center;
}

.imagen_juego{
    width: 90vw;
}

/* Botones de añadir a las listas */

#btn_listas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;

}

/* Boton de Wishlist */

.wishlist{
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--color-wishlist);

    width: 100%;
    margin: 2%;
    padding: 0;
}

#btn_listas > div:nth-child(1) i{
    padding-left: 5%;
}

#btn_listas > div:nth-child(1) p{
    padding: 1.5%;
    margin: 0;
}

/* Botones de Backlog, Completed y Playing */
#btn_listas > div:nth-child(2){
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;
}

.backlog{
    background-color: var(--color-backlog);
}

.completed{
    background-color: var(--color-completed);
}

.playing{
    background-color: var(--color-playing)
}

/* Los 3 botones de añadir a las listas */
#btn_listas > div:nth-child(2) > div{
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 33%;
    padding: 10px;
}


#btn_listas > div:nth-child(2) > div:nth-child(2){
    margin: 0 5%; /* Separación de los botones */
}

/* Información del Juego */

.info_juego{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
}

.caracteristicas_juego{
    width: 40%;
}

/* Distribución de Generos y Plataformas */
.distr-wrap{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* Generos Pills */

.generos_juego div p{
    margin: 5px;
}

.plataformas_juego div p{
    margin: 5px;
}

.descripcion_juego{

    width: 50%;
    padding: 0 2% 2% 2%;

    border: 1px solid #000;
    border-radius: 25px;

    background-color: var(--color-tarjeta);
}

.descripcion_juego h2{
    margin: 4%;
}

.ventas_juego{
    width: 100%;
}

.reseñas_juego{
    align-self: self-start;
}

.reseñas_juego a{
    text-decoration: underline !important;
}

@media screen and (max-width: 425px){
    .info_juego{
        flex-direction: column;
        align-items: center;
    }

    .caracteristicas_juego{
        width: 100%;
        margin-left: 15%;
    }

    .descripcion_juego{
        width: 90%;
    }

    .generos_juego div p{
        margin: 2px;
    }

    .plataformas_juego div p{
        margin: 2px;
    }
}