.btn_redondo{
    display: flex;
    border-radius: 25px;

    padding: 2%;
}

#filtros_icon{
    width: fit-content;
}

.btn_redondo p{
    padding-left: 5px;
    margin: 0;
}

.lista_ventas{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
}

.juego{
    display: flex;

    border-radius: 10px;
    border: 2px solid #000000;

    margin: 5px;
    width: 95%;
}

.juego img{
    padding: 10px;
    width: 25%;
}

.info_juego{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;

    padding: 2%;
    width: 100%;
}

.info_juego .precio{
    font-size: 250%;
    margin: 0;
}

.btn_listas{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2%;
}

.btn_listas div{
    display: flex;
    border: 1px solid #000000;
    border-radius: 25px;

    padding: 10px;
}

.btn_listas i{
    width: fit-content;
    height: fit-content;
}

.btn_listas p{
    padding-left: 5px;
    margin: 0;
}

.btn_listas img{
    max-width: 14px;
    padding: 0;
}

/* Desplegable hamburguesa */

.filtros_desplegable{
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: fit-content;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;

    /* Transform */
    transition: 0.5s;
}

.active{
    left: 0%;

    /* Transform */
    transition: 0.5s;
}