.btn_redondo{
    display: flex;
    border-radius: 25px;

    padding: 2%;
}

#filtros_icon{
    width: fit-content;
}

.btn_redondo p{
    padding-left: 5px;
    margin: 0;
}

.list_juegos{
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;

    margin-top: 20px;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: white;

    width: 90%;
    border-radius: 20px;
    padding: 20px;
}

.juego{
    display: flex;
    border-radius: 10px;

    border: 2px solid #000000;

    margin: 5px;

    width: 80%;
}

.juego img{
    padding: 10px;
    width: 100%;
    max-width: 150px;
}

.info_juego{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 10px;
}

.btn_listas{
    align-self: flex-end;
    margin-left: auto;
    max-width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2%;
}

.btn_listas i{
    max-width: 10%;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 50%;
    width: fit-content;
}