/* Estilos para la lista de juegos */

/* Desplegable hamburguesa */

.filtros_desplegable{
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: fit-content;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;

    /* Transform */
    transition: 0.5s;
}

.active{
    left: 0%;

    /* Transform */
    transition: 0.5s;
}

 /* Filtros especificos para el carrusel de Filtros aplicados */
.swiper{
    margin: 0 !important;
    width: 100% !important;
}

.card-item{
    max-width: fit-content;
    padding: 3%;
    margin: 1%;

    border: 2px solid #000000;
    border-radius: 25px;

    background-color: wheat;

    flex-direction: row;
}

/* Filtros */

.btn_filtros{
    display: flex;
    border-radius: 25px;
    padding: 2%;

    max-height: fit-content;

    background-color: var(--color-secundario);
    color: var(--color-boton-texto);
}

.btn_filtros i{
    justify-self: center;
    align-self: center;
}

.btn_filtros p{
    padding-left: 5px;
    margin: 0;

    max-height: fit-content;
    min-height: fit-content;

    color: var(--color-boton-texto) !important;
}

#filtros_icon{
    width: fit-content;

    max-height: fit-content;
    min-height: fit-content;
}

#filtros{
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 100%;
    /* justify-content: space-around;
    align-items: center;
    padding: 2%; */
}

.eliminar_filtro{
    cursor: pointer;
}

/* Lista de Juegos */

.list_juegos{
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;

    margin-top: 20px;

    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
    background-color: var(--color-tarjeta-secundario);

    width: 90%;
    border-radius: 20px;
    padding: 20px;
}

.enlace_juego{
    color: var(--color-texto);

    width: 100%;
    margin-bottom: 1rem;
    
    text-align: center;
}

.juego{
    display: flex;
    flex-direction: column;
    
    border: 2px solid #000000;
    border-radius: 10px;

    width: 100%;
    margin: 5px;

    background-color: var(--color-tarjeta);
}

.juego img{
    width: 100%;

    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.info_juego{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.info_juego *{ /* Para poder modificar un dato de manera individual */
    padding-left: 10px;
}

.info_juego a{
    padding: 0;
    text-decoration: underline var(--color-texto);
}

.btn_listas{
    width: 100%;
    padding: 2% 2% 2% 0%;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.btn_listas i{ /* Botones de Agregar a la lista */
    
    width: 8vw;
    height: 8vw;
    margin: 0% 5%;

    padding: 10px;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* Botones de listas */

.fa-heart{
    color: var(--color-wishlist);
    border: 1px solid var(--color-wishlist);
}

.fa-clock{
    color: var(--color-backlog);
    border: 1px solid var(--color-backlog);
}

.fa-circle-check{
    color: var(--color-completed);
    border: 1px solid var(--color-completed);
}

.fa-circle-play{
    color: var(--color-playing);
    border: 1px solid var(--color-playing);
}

.en_lista{
    background-color: currentColor;
    color: white;
    border: none;
}


/* Paginación */

.pag{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 20px;
}