/* Css de la página Login */

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tarjeta-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    
    width: 70vw;
    height: auto;

    margin-top: 15vh;

    padding: 5vh;

    background-color: var(--color-tarjeta-secundario);
    border-radius: 10px;
    box-shadow: 0 0 20px white;
}


.tarjeta-login label, .tarjeta-login h1{
    color: var(--color-texto) !important;
}

form{
    width: 100%;
}

.container-login{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

#correo {
    width: 75%;
}

#password {
    width: 75%;
}

.registro{
    background-color: var(--color-secundario);
}

#texto-registro {
    width: 100%;
    text-align: center;
}

.tarjeta-login .logo-TDG {
    align-self: center;
    width: 50%;
}

.tarjeta-login h1{
    align-self: center;
}

.imagen_form{
    color: var(--color-texto);
}

.enlace{
    color: var(--color-texto);
}

@media screen and (min-width: 768px) {
    .tarjeta-login {
        width: 40vw;
        height: auto;
    }

    #texto-registro {
        width: auto;
        text-align: center;
    }

    .tarjeta-login h1{
        font-size: 180%;
    }

    #correo{
        width: 50%;
    }

    #password{
        width: 50%;
    }
}