.recien_añadidos__item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90vw;
    height: 100%;
    padding: 10px;

    margin: 10px;
    border: 1px solid #00000033;
    border-radius: 10px;
    background-color: #f0f0f033;
}

.recien_añadidos__item img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.recien_añadidos__container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* Reviews */

.review{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.review_item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 80vw;
    margin: 10px;

    border-radius: 20px;

    background-color: rgb(135, 149, 189);
}

.cabecera_review{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 10vh;
}

.review img{
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    object-fit: cover;

    margin: 10px;
}

.review_texto{
    width: 80%;
    height: 100%;
    padding: 10px;
    text-align: justify;
}

.review_footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 10vh;
}

.review_footer .review_rating{
    justify-self: flex-start;
}

.review_ver_mas_container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.review_footer .review_ver_menos{
    min-width: 40px;
}

/* Media Querys */

@media screen and (min-width: 640px) {
    .recien_añadidos__item{
        width: 40vw;
    }
    
}

@media screen and (min-width: 768px) {
    .recien_añadidos__item{
        width: 20vw;
    }
    
}