/* Página CSS de Main */

body{
    padding: 5px;
}

.landing{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;

    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("/public/IMG/main-landing-ordered-games.webp");
    background-size: cover;
    background-position: center;

    width: 100%;
    height: 50vh;

    padding: 5%;
}

.landing .boton-ver-juegos{
    padding: 8%;
    width: 116%;

    border-radius: 20px;

    background-color: var(--color-primario);

    color: var(--color-boton-texto);
}

.landing p{
    font-size: 120%;
}

.enlace-main i{
    font-size: 200%;
}

/* Juegos recien Añadidos */
.recien_añadidos {
    width: 100%;
    height: 30vh;
    overflow: hidden;
    padding: 20px 0;
}

.recien_añadidos__container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: max-content;
    height: 100%;
    animation: scroll-marquee 40s linear infinite;
}

.recien_añadidos__item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 40vw;
    height: max-content;

    padding: 10px;
    margin: 10px;

    border: 1px solid #00000033;
    border-radius: 10px;

    background-color: var(--color-tarjeta);

}

.recien_añadidos__item a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.recien_añadidos__item img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.recien_añadidos__item .titulo_juego{
    text-align: center;
}
  

  /* Animación de scroll horizontal continuo */
  @keyframes scroll-marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }

/* Card Items Swipper */

.card-item{
    border: 5px solid transparent;
}

.card-item a{
    display: contents;
}

/* Ultimos Productos */

.ultimos_productos{
    width: 100%;
}


/* Reviews */


.reviews-h2{
    display: flex;
}

.btn-add-review{
    display: inline;

    margin-left: 2%;
    padding: 1%;

    background-color: var(--color-secundario);

    border-radius: 20px;
}

#lista_reviews{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#lista_reviews h2{
    align-self: self-start;
}

.review{
    width: 90vw;
    background-color: var(--color-tarjeta);

    padding: 2%;
    margin: 3%;
}

.cabecera_review img{
    width: 15%;
    clip-path: circle(50% at 50% 50%);
}

.review_footer{
    display: flex;
    justify-content: end;
}

.review_ver_mas_container{
    display: flex;
    justify-content: end;
    align-items: center;

    color: var(--color-boton-texto);
    background-color: var(--color-secundario);

    width: fit-content;
    padding: 2%;

    border-radius: 20px;
}

.review_ver_mas{
    margin: 0;
}

.review_ver_mas_container *{
    color: var(--color-texto);
}

/* Media Querys */

@media screen and (min-width: 640px){
    .recien_añadidos__container:has(.recien_añadidos__item:hover){
        animation-play-state: paused;
    }
    
    .recien_añadidos__item{
        width: 30vw;
        transition: 0.3s;
    }

    .recien_añadidos__item:hover{
        width: 45vw;
        box-shadow: 0 0 20px var(--color-borde-neon);
        transition: 0.3s;
    }

    .card-item:hover{
        box-shadow: 0 0 20px var(--color-borde-neon);
        border: 5px solid var(---color-borde-neon);
    }
    
}

@media screen and (min-width: 768px) {
    .recien_añadidos{
        height: 40vh;
    }

    .recien_añadidos__container:has(.recien_añadidos__item:hover){
        animation-play-state: paused;
    }
    
    .recien_añadidos__item{
        width: 30vw;
        transition: 0.3s;
    }

    .recien_añadidos__item:hover{
        width: 32vw;
        
        box-shadow: 0 0 20px var(--color-borde-neon);

        transition: 0.3s;
    }

    .card-item:hover{
        border: 5px solid var(--color-borde-neon);
        box-shadow: 0 0 20px var(--color-borde-neon);
    }
}

@media screen and (min-width: 1024px) {
    .recien_añadidos{
        height: 60vh;
    }
}