/* CSS asociado a la lista de páginacion */

.paginacion{
    margin-top: 5%;
}


.pagination .page-link{
    color: var(--color-texto);
    background-color: rgb(128, 128, 128, 0.25);
    border-color: transparent;
}

.pagination .active > .page-link{
    background-color: var(--color-primario);
    border-color: transparent;
}

/* Pagina Actual */
.pagination.active a{
    color: var(--color-boton-texto) !important;
}

/* Hover botones de Páginas */
.page-item:hover .page-link{
    color: var(--color-boton-texto) !important;
}