/* Pagina de CSS de Panel Administrador */

body{
    min-height: 100vh;
    /* Para poder ajustar la barra lateral */
    align-items: start;
}

.header-movil{
    display: none;
}

/* Barra Lateral */
.barra-lateral{
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;

    height: 100%;

    border-right: 2px solid grey;

    width: 25vw;
    max-width: 200px;

    background-color: var(--color-tarjeta);

}

/* Contenedor de contenido */
.content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-self: center;

    width: 80%;
}

.contenedor-admin{
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    background-color: var(--color-tarjeta-secundario);

    border-radius: 20px;

    margin: 1%;
    padding: 3%;
}

.contenedor-admin *{
    margin-bottom: 0;
}

.contenedor-admin h4{
    height: fit-content;
}

.icono{
   margin-right: 2%;
}

.icono *{
    color: var(--color-texto);
}

footer{
    align-self: center;
}

/* Tablas Admin */

.tabla-datos{
    width: 100%;
}

.tabla-datos th{
    max-width: 100px;
}


/* Tabla movil */

.tabla-movil{
    display: none;
}

.tabla-movil .fila .columna{
    display: flex;
}

.tabla-movil .fila .columna .header, .tabla-movil .fila .columna .contenido{
    border: 1px solid var(--color-tarjeta-secundario);
    border-bottom: none;
    padding: 10px;
}

.tabla-movil .fila .columna .header{
    width: 40%;
    background-color: black;
    color: white;
    font-weight: bold;
}

.tabla-movil .fila .columna .contenido{
    width: 60%;
    color: white;
}

/* .columna-final{
    border-bottom: 4px solid white;
} */

.tabla-movil .fila:nth-child(even) .columna .contenido{
    background-color: var(--color-tarjeta);
}

/* Media Querys */

@media (max-width: 775px){
    .header-movil{
        display: block;
    }

    .barra-lateral{
        display: none;
    }

    .tabla-datos{
        display: none;
    }

    .tabla-movil{
        display: block;
        width: 100%;
    }

    .content{
        width: 95vw;
    }
}

@media (min-width: 640px){
    .contenedor-admin:hover{
        border: 2px solid var(--color-borde-neon);
        box-shadow: 0 0 20px var(--color-borde-neon);
    }
}

@media (min-width: 768px) {
    .contenedor-admin:hover{

        border: 2px solid var(--color-borde-neon);
        box-shadow: 0 0 20px var(--color-borde-neon);
    }
}