/* Pagina de CSS de Panel Administrador */

body{
    flex-direction: row;
    padding: 0;
    min-height: 100vh;
}

.header-movil{
    display: none;
}


.header-movil i{
    padding: 10px;
    background-color: var(--color-primario);
    border-radius: 8px;
}

/* Barra Lateral */
.barra-lateral{
    display: flex;
    flex-direction: column;

    height: 100%;
    min-height: 100vh;

    border-right: 2px solid grey;

    width: 25vw;
    max-width: 200px;

    background-color: var(--color-tarjeta);
}

.barra-lateral h5{
    text-align: center;
    margin-top: 10%;
}

.barra-lateral ul{
    padding-top: 15%;
}

li{
    list-style: none;

    margin: 5%;
}

/* Contenedor de contenido */
.content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-self: self-start;

    width: 100%;
}

.enlace-vuelta{
    display: none;
}

.contenedor-admin{
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    background-color: var(--color-tarjeta-secundario);

    border-radius: 20px;

    margin: 1%;
    padding: 3%;

    width: 500px;
}

.contenedor-admin *{
    margin-bottom: 0;
}

.contenedor-admin h4{
    height: fit-content;
}

.icono{
   margin-right: 2%;
}

.icono *{
    color: var(--color-texto);
}

footer{
    align-self: center;
}

/* Tablas Admin */

.tabla-datos{
    width: 100%;
}

.tabla-datos th{
    max-width: 100px;
}



/* Media Querys */

@media (max-width: 775px){
    .enlace-vuelta{
        display: inline;
    }

    .header-movil{
        display: block;
    }

    .barra-lateral{
        display: none;
    }

    .tabla-datos{
        display: none;
    }

    .tabla-movil{
        display: block;
        width: 100%;
    }

    .content{
        width: 95vw;
    }
}

@media (min-width: 640px){
    .contenedor-admin:hover{
        border: 2px solid var(--color-borde-neon);
        box-shadow: 0 0 20px var(--color-borde-neon);
    }
}

@media (min-width: 768px) {

    .contenedor-admin:hover{

        border: 2px solid var(--color-borde-neon);
        box-shadow: 0 0 20px var(--color-borde-neon);
    }
}

@media (max-width: 425px) {
    .contenedor-admin{
        max-width: 300px;
    }
}