
#perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: 5%;

    width: 60%;
}

.perfil_imagen{
    max-width: 200px;
    clip-path: circle(100px at 50% 50%);
}

.juegos, .perfil{
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
}

.juegos{
    display: flex;
    margin-top: 20px;

    background-color: var(--color-tarjeta-secundario);

    width: 90%;
    border-radius: 20px;
    padding: 20px;
}

.juegos a{
    display: block;
    text-decoration: none;
    color: inherit;
}

.juego img{
    min-height: 125px;
}

.juegos > div {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    gap: 1rem; /* espacio entre juegos, opcional */
    width: 100%;
}

.juegos h3{
    align-self: flex-start;
}

.juego a{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-radius: 10px;
    margin: 20px;
    

    cursor: pointer;

    border-radius: 20px;
}

.juego img{
    max-width: 200px;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

.nombreJuego{
    text-align: center;
}

.view_all{
    margin-left: auto;
    align-self: start;
    padding: 20px;
    border-radius: 50px;
    background-color:deepskyblue;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: white;
}

@media screen and (min-width: 1024px) {

    .juegos > div{
        grid-template-columns: repeat(3, 1fr);
    }

    .view_all{
        grid-column: 3;
    }
    
}