
#perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: 5%;

    width: 60%;
}

#perfil .fa-crown{
    color: var(--color-texto);
}

.juegos{
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    background-color: var(--color-tarjeta-secundario);

    width: 90%;
    border-radius: 20px;
    padding: 20px;

    border: 2px solid black;
}

.paginacionWishlist, .paginacionCompleted, .paginacionBacklog, .paginacionPlaying{
    align-self: center;
}

.juegos a{
    display: block;
    text-decoration: none;
    color: inherit;
}

#wishlist, #backlog, #playing, #completed{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    gap: 1rem; /* espacio entre juegos, opcional */
    width: 100%;
}

.juegos h3{
    align-self: flex-start;
}

.juego a{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-radius: 10px;
    margin: 20px;
    

    cursor: pointer;

    border-radius: 20px;
}

.juego img{
    max-width: 200px;
    width: 200px;
    min-height: 125px;
    max-height: 125px;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

.nombreJuego{
    text-align: center;
}

@media screen and (min-width: 1024px) {

    #wishlist, #backlog, #playing, #completed{
        grid-template-columns: repeat(3, 1fr);
    }
    
}