:root{
    padding: 0%;
    margin: 0%;

    box-sizing: border-box;

    --color-primario: var(--color-borde-neon);
    --color-secundario: var(--color-borde-neon);
    
    --color-fondo: linear-gradient(180deg,rgba(28, 28, 30, 1) 20%, rgba(166, 166, 166, 1) 100%);
    --color-texto: #FFFFFF;
    --color-texto-secundario: #B0BEC5;
    
    --color-tarjeta: #2C2C2E;
    --color-tarjeta-secundario: #67676efd; 

    --color-borde-neon: #FFFFFF;

    --color-boton-texto: black;

    --color-wishlist: #e05252; /* Color de wishlist */
    --color-backlog: #e0a052; /* Color de backlog */
    --color-completed: darkcyan; /* Color de completed */
    --color-playing: #52a0e0; /* Color de playing */
    
}

html, body{
    margin: 0;
    padding: 5px;

    background: var(--color-fondo) !important;
    min-height: 100vh;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p{
    color: var(--color-texto-secundario);
    font-family: "Roboto", sans-serif;
}

h1, h2, h3, h4, h5, h6{
    display: inline;

    color: var(--color-texto) !important;

    font-family: "Orbitron", sans-serif;
}

.boton p{
    color: var(--color-boton-texto) !important;
}

a{
    color: var(--color-texto) !important;
    text-decoration: none !important;
}

.enlace{
    color: var(--color-texto);
    display: inline;
    text-decoration: underline !important;
}

/* Modales Bootstrap */

.modal-content{
    background-color: var(--color-tarjeta) !important;
}

.modal-title{
    color: var(--color-texto) !important;
}

.modal-body label{
    color: var(--color-texto) !important;
}