/* Pagina de CSS de Panel Administrador */

body{
    flex-direction: row;
    min-height: 100vh;
    /* Para poder ajustar la barra lateral */
    align-items: start;
    justify-content: start;

    padding: 0;

    overflow-x: hidden;
}

.header-movil{
    display: none;
}


.header-movil i{
    padding: 10px;
    background-color: var(--color-primario);
    border-radius: 8px;
}

/* Barra Lateral */
.barra-lateral{
    display: flex;
    flex-direction: column;

    min-height: 100vh;
    height: 100%;

    border-right: 2px solid grey;

    width: 25vw;
    max-width: 200px;

    background-color: var(--color-tarjeta);

}

.tabla-actual a{
    color: var(--color-primario) !important;
}

.barra-lateral ul{
    padding-top: 15%;
}

.barra-lateral li{
    list-style: none;

    margin: 5%;
}

/* Contenedor de contenido */
.content{
    display: flex;
    flex-direction: column;
    width: 100%;

}

.enlace-vuelta{
    display: none;
}

.h2-entidad{
    margin-top: 1%;
    margin-bottom: 1%;
}

#btn_crear_dato{
    width: fit-content;
}

.buscador{
    align-self: flex-end;

    display: flex;
    flex-direction: row;
    align-items: center;

    margin: 2%;
}

.buscador label{
    color: var(--color-texto);
    margin-right: 10px;
    width: 86%;
}

.input-group{
    width: 100% !important;
}

.paginacion{
    align-self: center;
    margin: 0;
}

.icono{
   color: var(--color-texto);

   font-size: 200%;
}

/* Dropdown */

.dropdown-menu {
  position: absolute;
  right: 0;
  left: auto;
  width: fit-content;
}

.dropdown-item:hover{
    background-color: var(--color-primario);
    color: var(--color-texto);
}

/* Modal de Generos y Plataformas */

#modificacionGeneroPlat .modal-dialog{
    max-width: 80vw;
}

.plataformasChecks, .generosChecks{
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    width: 100%;

}

footer{
    align-self: center;
}

/* Tablas Admin */

.tabla-datos{
    width: 100%;
}

.tabla-datos th{
    max-width: 100px;
}

.sub{
    text-decoration: underline !important;
}


/* Tabla movil */

.tabla-movil{
    display: none;
}

.tabla-movil .fila .columna{
    display: flex;
}

.tabla-movil .fila .columna .header, .tabla-movil .fila .columna .contenido{
    border: 1px solid var(--color-tarjeta-secundario);
    border-bottom: none;
    padding: 10px;
}

.tabla-movil .fila .columna .header{
    width: 40%;
    background-color: black;
    color: white;
    font-weight: bold;
}

.tabla-movil .fila .columna .contenido{
    width: 60%;
    color: white;
}

.columna-final{
    border-bottom: 2px solid white;
}

.tabla-movil .fila:nth-child(even) .columna .contenido{
    background-color: var(--color-tarjeta);
}

/* Media Querys */

@media (max-width: 1024px){
    .enlace-vuelta{
        display: inline;
    }
    .header-movil{
        display: block;
        top: 0;
    }

    .barra-lateral{
        display: none;
    }

    .tabla-datos{
        display: none;
    }

    .tabla-movil{
        display: block;
        width: 100%;
    }

    .content{
        width: 99vw;
    }
}