.nombre_juego{
    font-size: 2.5em;
    text-align: center;
    margin-top: 2%;
}

img{
    width: 100%;
}

#btn_comprar{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #cdff50; /* Green */

    border-radius: 20px;

    position: sticky;
    bottom: 20px;

    width: 100%;
}


.descripcion_juego, .info_juego {
    margin: 2%;
}

.descripcion_juego{
    margin-bottom: 5%;
}