.principal_venta{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
}

.nombre_venta{
    font-size: 2.5em;
    text-align: center;
    margin: 2%;
}

.img_venta{
    max-width: 70vw;
}

.precio_venta{
    font-size: 300%;
    margin: 2%;
    align-self: self-start;
}

a{
    text-decoration: none;
}

#btn_comprar{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-secundario); /* Green */

    border-radius: 20px;

    
    padding: 0.3rem;
}

#btn_comprar p{
    font-size: 1.3em;
    font-weight: bold;

    padding: 0;
    margin: 0;
    background-color: transparent;
    color: var(--color-boton-texto);
}

#btn_comprar i{
    padding-left: 10px;
    background-color: transparent;
}

.caracteristicas_producto{
    margin: 2%;
}

.generos_juego{
    display: flex;
    align-items: start;
    justify-content: start;
}

.genero{
    margin: 1%;

    padding: 1%;
    background-color: white;
    color: var(--color-boton-texto);

    border: 2px solid black;
    border-radius: 50px;
}

.info_venta{
    border-radius: 20px;
    padding: 2%;
    background-color: var(--color-tarjeta-secundario);
}

.info_venta h3{
    margin-bottom: 2%;
}

.descripcion_juego{
    margin-bottom: 5%;
    padding: 2%;
    background-color: var(--color-tarjeta);
    border-radius: 20px;
}

.descripcion_juego h2{
    margin-bottom: 2%;
}

@media screen and (max-width: 769px) {
    .nombre_venta{
        font-size: 2em;
    }

    .precio_venta{
        font-size: 200%;
    }

    #btn_comprar p{
        font-size: 1.2em;
    }
    
    #boton-comprar{
        position: sticky;
        bottom: 20px;

        width: 80vw;
    }

}