/* Página Css de ventas_perfil*/

/* Parte del Perfil */
#perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: 5%;

    width: 60%;
}

/* Imagen de Perfil */
.perfil_imagen{
    max-width: 200px;
    clip-path: circle(100px at 50% 50%);
}

.paginacionVentas, .paginacionCompras{
    align-self: center;
}

/* Ventas y Compras */
.ventas_compras{
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    background-color: var(--color-tarjeta-secundario);

    width: 90%;
    border-radius: 20px;
    padding: 20px;

    border: 2px solid black;
    /* box-shadow: 0 0 20px var(--color-borde-neon); */
}

.ventas_compra a{
    display: block;
    text-decoration: none;
    color: inherit;
}

.venta img, .compra img{
    max-height: 125px;
}

.venta, .compra{
    display: flex;
    justify-content: center;
}

/* Venta y Compra individual */
.venta a, .compra a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: fit-content;

    border-radius: 10px;
    margin: 20px;

    cursor: pointer;
}

.ventas_compra > div {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    gap: 1rem; /* espacio entre juegos, opcional */
    width: 100%;
}

#lista_compras, #lista_ventas{
    display: grid;
    grid-template-columns: repeat(1, 1fr);

    width: 100%;
}

.ventas_compra h3{
    align-self: flex-start;
}

.venta_compra a{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-radius: 10px;
    margin: 20px;
    

    cursor: pointer;

    border-radius: 20px;
}

.venta_compra img{
    max-width: 200px;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

.nombreVenta_compra{
    text-align: center;
}

@media screen and (min-width: 1024px) {

    .ventas_compra > div{
        grid-template-columns: repeat(3, 1fr);
    }

    .view_all{
        grid-column: 3;
    }

    #lista_compras, #lista_ventas{
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    width: 100%;
}
}