.nombre_juego{
    font-size: 2.5em;
    text-align: center;
    margin-top: 2%;
}

img{
    width: 100%;
}

#btn_comprar{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-secundario); /* Green */

    border-radius: 20px;

    color: black;

    position: sticky;
    bottom: 20px;

    width: 100%;
    padding: 0.3rem;
}

#btn_comprar p{
    font-size: 1.3em;
    font-weight: bold;

    padding: 0;
    margin: 0;
    background-color: transparent;
    color: black !important;
}

#btn_comprar i{
    padding-left: 10px;
    background-color: transparent;
}


.descripcion_juego, .info_juego {
    margin: 2%;
}

.descripcion_juego{
    margin-bottom: 5%;
}